.table.aha-table {
    background: rgb(231,234,237) !important;
}

.col-header{
  border-top: 0px !important;
  border-bottom: 1px solid !important;
}

.og-table-cell{
  border : 0px !important;
}

.header--container.aha-table {
    justify-content: space-between;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.table.aha-table .td.aha-table, .table.aha-table .th.aha-table, .table.aha-table td.aha-table, .table.aha-table th.aha-table {
    padding: 0px;
}

.table.aha-table tr.aha-table:last-of-type .td.aha-table, .table.aha-table tr.aha-table:last-of-type td.aha-table {
    border-bottom: 0px;
}

/* hide space taken by hidden edit sapn in table cell */
.flex .viewing .empty .px-data-table-cell{
  display: none;
}

/*Fix border*/
.table.aha-table .td.aha-table, .table.aha-table td.aha-table {
  border-bottom:0px;
}
/*fix alignment of html content*/
.px-data-table-cell-0 .viewing.px-data-table-cell {
  height: 0px;
}

/*Hide pagination padding*/
.pagination.aha-table {
  padding-top: 0;
  padding-bottom: 0;
}
.expanded-row{
  background: white;
}

.tr-detail{
  background:white;  
}

.td-detail{
  background: white;
  border: 0px !important;
}

.para { font-size: 1.2rem; }
